/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
// Resource limits are for nextflow >= 24.04.0 so also have to use the max_* params
process {
    resourceLimits = [
        cpus: 2,
        memory: '4.GB',
        time: '1.h'
    ]
}

params.max_memory = "4.GB"
params.max_cpus = 2
params.max_time = "1.h"
