/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
// Resource limits are for nextflow >= 24.04.0 so also have to use the max_* params
process {
    cpus   = 2
    memory = '4.GB'
    time   = '2.h'

    resourceLimits = [
        cpus: 2,
        memory: '4.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'

    // Limit resources for github actions
    max_cpus    = 2
    max_memory  = '4.GB'
    max_time    = '2.h'
}
