/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
// Resource limits are for nextflow >= 24.04.0
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

/* Remove gzipping on JSON output for testing/asserts on file contents */
iridanext.output.path = "${params.outdir}/iridanext.output.json"
