/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for IRIDA-Next Plugin
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Set how to find wanted files
----------------------------------------------------------------------------------------
*/
iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "id"
            global = [
                "**/el_gato/el_gato_st.tsv",
                "**/chewbbaca/allele_calls/results_statistics.tsv",
                "**/chewbbaca/allele_calls/cgMLST/cgMLST100.tsv",
                "**/chewbbaca/allele_calls/cgMLST/cgMLST99.tsv"
            ]
            samples = ["**/spades/*.contigs.fa"]
        }
        metadata {
            samples {
                csv {
                    path = "**/overall.qc.csv"
                    idcol = "sample"
                }
            }
        }
    }
}
