/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {

    withName: KRAKEN2_CLASSIFY {
        publishDir = [
            path: { "${params.outdir}/kraken_bracken" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BRACKEN {
        publishDir = [
            path: { "${params.outdir}/kraken_bracken" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: NANOPLOT {
        publishDir = [
            path: { "${params.outdir}/read_assessment/nanoplot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: NANOPLOT_TRIMMED {
        publishDir = [
            path: { "${params.outdir}/read_assessment/nanoplot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: TRIMMOMATIC {
        publishDir = [
            path: { "${params.outdir}/read_assessment/trimmomatic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: NANOQ {
        publishDir = [
            path: { "${params.outdir}/read_assessment/nanoq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/read_assessment/fastqc" },
            mode: params.publish_dir_mode,
            pattern: '*.{html, zip}'
        ]
    }

    withName: DRAGONFLYE {
        publishDir = [
            path: { "${params.outdir}/assembly/dragonflye" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SPADES {
        publishDir = [
            path: { "${params.outdir}/assembly/spades" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: QUAST {
        publishDir = [
            path: { "${params.outdir}/assembly/quast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SCORE_QUAST {
        publishDir = [
            path: { "${params.outdir}/assembly/quast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: QUAST_NANOPORE {
        publishDir = [
            path: { "${params.outdir}/assembly/quast_nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SCORE_QUAST_NANOPORE {
        publishDir = [
            path: { "${params.outdir}/assembly/quast_nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MINIMAP2_ASSEMBLY {
        publishDir = [
            path: { "${params.outdir}/assembly/nanopore_quality" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_COVERAGE_ASSEMBLY {
        publishDir = [
            path: { "${params.outdir}/assembly/nanopore_quality" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: EL_GATO_READS {
        publishDir = [
            path: { "${params.outdir}/el_gato/reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: EL_GATO_ASSEMBLY {
        publishDir = [
            path: { "${params.outdir}/el_gato/assembly" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: EL_GATO_REPORT {
        publishDir = [
            path: { "${params.outdir}/el_gato" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: COMBINE_EL_GATO {
        publishDir = [
            path: { "${params.outdir}/el_gato" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CSVTK_JOIN_ALLELE_STATS {
        publishDir = [
            path: { "${params.outdir}/el_gato/allele_stats/illumina" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MINIMAP2_ALLELES {
        publishDir = [
            path: { "${params.outdir}/el_gato/allele_stats/nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_COVERAGE_ALLELES {
        publishDir = [
            path: { "${params.outdir}/el_gato/allele_stats/nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PYSAMSTATS_NANOPORE {
        publishDir = [
            path: { "${params.outdir}/el_gato/allele_stats/nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PLOT_EL_GATO_ALLELES {
        publishDir = [
            path: { "${params.outdir}/el_gato/plots" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PLOT_EL_GATO_ALLELES_NANOPORE {
        publishDir = [
            path: { "${params.outdir}/el_gato/plots" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CHEWBBACA_PREP_EXTERNAL_SCHEMA {
        publishDir = [
            path: { "${params.outdir}/chewbbaca" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CHEWBBACA_ALLELE_CALL {
        publishDir = [
            path: { "${params.outdir}/chewbbaca" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CHEWBBACA_EXTRACT_CGMLST {
        publishDir = [
            path: { "${params.outdir}/chewbbaca/allele_calls" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: COMBINE_SAMPLE_DATA {
        publishDir = [
            path: { "${params.outdir}/qc/illumina" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: COMBINE_SAMPLE_DATA_NANOPORE {
        publishDir = [
            path: { "${params.outdir}/qc/nanopore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CSVTK_CONCAT_QC_DATA {
        publishDir = [
            path: { "${params.outdir}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}
