/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a simple pipeline test that
    uses the input parameter and all steps.

    Use as follows:
        nextflow run phac-nml/legiovue -profile test_full,<docker/singularity>
----------------------------------------------------------------------------------------
*/
// Resource limits are for nextflow >= 24.04.0 so also have to use the max_* params
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name         = "Full test profile"
    config_profile_description  = "Full test dataset to check pipeline function"

    // Input
    input                       = "${projectDir}/assets/samplesheet.csv"
    kraken2_db                  = "${projectDir}/tests/test_data/lgk2_db"
    outdir                      = "results"

    // Filtering
    min_reads                   = 100
}
