/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    using the directory input and with skipping over some of the non-required steps.

    Use as follows:
        nextflow run phac-nml/legiovue -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/
// Resource limits are for nextflow >= 24.04.0 so also have to use the max_* params
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name         = "Test profile"
    config_profile_description  = "Minimal test dataset to check pipeline function"

    // Input
    fastq_dir                   = "${projectDir}/tests/test_data/"
    kraken2_db                  = "s3://genome-idx/kraken/standard_08gb_20240904"

    // Filtering
    min_reads                   = 100

    // Skip all steps we can as the test_input will do them
    skip_el_gato                = true
    skip_plotting               = true

    // Limit resources for github actions
    max_cpus                    = 2
    max_memory                  = '8.GB'
    max_time                    = '2.h'
}
