/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run phac-nml/legiovue -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/
// Resource limits are for nextflow >= 24.04.0 so also have to use the max_* params
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'

    // Input
    input                       = 'tests/test_data/input.csv'

    // Filtering
    min_reads                   = 100

    // Limit resources for github actions
    max_cpus                    = 1
    max_memory                  = '8.GB'
    max_time                    = '2.h'
}
